.contentMem{
    font-weight: bold;
    width: 100%;
    height: 71vh;
    position: absolute;
    top:15%;
    text-align: center;
    color: white;
    font-size:45px;

}
i{
    margin-left: 5px;
}
.contentMem p{
    padding-top:0;
    margin-bottom:3%;
    width: 50%;
    position: relative;
    left: 25%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to left, #ffc000 0%, #f35322 31%, #fdc100 100%) 1;
}
.conteinerMembership{
    display: flex;
    justify-content: space-around;
}
.conteiner{
    width: 370px;
    height: 450px;
    border:2px solid;
    border-image: linear-gradient(to left, #ffc000 0%, #f35322 31%, #fdc100 100%) 1;
    font-size: 15px;
    padding-left: 20px;
}
#bronze:hover{
    color: #CD7F32;
     width: 370px;
     height: 450px;
     border: 5px solid;
     border-image: linear-gradient(to left, #ffc000 0%, #f35322 31%, #fdc100 100%) 1;
     font-size: 15px;
     padding-left: 20px;
     box-shadow: 5px 5px 5px #ff008e , 5px 5px 5px #f00b51,  5px 5px 5px #fd02d3;
     text-shadow: 3px 3px 5px #CD7F32;
 }

#bronze h1{
    margin-top: 10px;
    color: #CD7F32;
    text-align: center;
}

#silver:hover{
    color: #C0C0C0;
    width: 370px;
    height: 450px;
    border: 5px solid;
    border-image: linear-gradient(to left, #ffc000 0%, #f35322 31%, #fdc100 100%) 1;
    font-size: 15px;
    padding-left: 20px;
    box-shadow: 5px 5px 5px #ff008e , 5px 5px 5px #f00b51,  5px 5px 5px #fd02d3;
    text-shadow: 3px 3px 5px #C0C0C0;
}

#silver h1{
    margin-top: 10px;
    color: #C0C0C0;
    text-align: center;
}


#gold h1{
    margin-top: 10px;
    color: #FFD700;
    text-align: center;
}

#gold:hover{
    color: #FFD700;
    width: 370px;
    height: 450px;
    border: 5px solid;
    border-image: linear-gradient(to left, #ffc000 0%, #f35322 31%, #fdc100 100%) 1;
    font-size: 15px;
    padding-left: 20px;
    box-shadow: 5px 5px 5px #ff008e , 5px 5px 5px #f00b51,  5px 5px 5px #fd02d3;
    text-shadow: 3px 3px 5px #FFD700;

}

.lista{
    text-align: left;
    margin-top: 20px ;
}
.lista li{
    margin: 20px;
}
.lista i{
    margin-left: 5px;
    font-size: 25px;
}
.form{
    color: #00000000;
}
a{
    text-decoration: none;
    color: white;
}